* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #0e2130;
}
header .row {
  display: flex;
  justify-content: space-between;
}
header .row div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .row div .logo {
  width: 150px;
  height: 100px;
}
header .row div p {
  text-align: center;
  color: #ff9a00;
  text-shadow: 0 0 4px #ec0000;
  font-weight: bold;
  margin: 0px;
}
header .row form {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .row form .barra {
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
  border-color: #ec0000;
  background-color: #ff9a00;
  color: #0e2130;
}
header nav {
  background-color: #ff9a00;
  border-radius: 10px;
}
header nav div ul li a {
  text-decoration: none;
  color: #0e2130;
  text-shadow: 0 0 3px #ec0000;
  font-weight: bold;
}
header .envios-gratis {
  padding: 5px;
  text-align: center;
  color: #ff9a00;
  text-shadow: 0 0 3px #ec0000;
  font-weight: bold;
  font-style: italic;
}

main {
  background-color: #0e2130;
  padding-bottom: 10px;
}
main h1 {
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #ff9a00;
  text-shadow: 0 0 4px #ec0000;
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (min-width: 430px) {
  main .productos-destacados {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    grid-row-gap: 20px;
  }
  main .productos-destacados article {
    border: 2px solid #ff9a00;
  }
  main .productos-destacados article .div-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .productos-destacados article .div-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .productos-destacados article .div-h2 h2 {
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 0;
    margin-left: 0px;
    height: 65px;
    color: #ff9a00;
    text-shadow: 0 0 4px #ec0000;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  main .productos-destacados {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    justify-content: space-evenly;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  main .productos-destacados article .div-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .productos-destacados article .div-h2 h2 {
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 0;
    margin-left: 0px;
    height: 65px;
    color: #ff9a00;
    text-shadow: 0 0 4px #ec0000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
}
@media screen and (min-width: 992px) {
  main .productos-destacados {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    grid-column-gap: 20px;
    justify-content: space-evenly;
  }
  main .productos-destacados article .div-h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .productos-destacados article .div-h2 h2 {
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.25px;
    padding-top: 3px;
    margin-bottom: 0;
    margin-left: 0px;
    height: 65px;
    color: #ff9a00;
    text-shadow: 0 0 4px #ec0000;
    font-weight: bold;
    font-size: 15px;
  }
}

.footerContainer {
  background-color: #ff9a00;
}
.footerContainer div .container .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footerContainer div .container .row h3 {
  text-align: center;
}
.footerContainer div .container .row div ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.footerContainer div .container .row div ul li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}
.footerContainer div .container .row div ul li a {
  padding: 0px 1git0px;
  text-decoration: none;
}
.footerContainer .container .row div .p-footer {
  color: #0e2130;
  font-weight: bold;
  text-align: center;
}

main div .ps4promo {
  width: 100%;
}
main .row div .categorias {
  background-color: #ff9a00;
}
main section .container-xl div article .productos {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .container-xl div article {
  margin-top: 20px;
}
main .productos .game-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .productos .game-img .game {
  width: 200px;
  height: 300px;
}
main .productos .precio {
  color: #ff9a00;
  text-shadow: 0 0 4px #ec0000;
  font-weight: bold;
}
main .productos h3 {
  color: #ff9a00;
  text-shadow: 0 0 4px #ec0000;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
