*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
/* VISITA MOBILE - MOBILE FIRST */

.padre{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}
header{
    grid-area: header;
    background-color: #0e2130;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

/* HEADER MOBILE */

.header_divLogo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width: 150px;
    height: 100px;
}
.header_divLogo div{
    width: 150px;
    display: flex;
    justify-content: center;
}
.header_divLogo div p{
    color: #ff9a00;
    text-shadow: 0 0 4px #ec0000;
    font-weight: bold;
}
.form{
    margin-top: 7px;
    display: flex;
    justify-content: center;
}
.barra{
    height: 25px;
    width: 70%;
    border-radius: 20px;
    padding-left: 10px;
    border-color: #ec0000;
    background-color: #ff9a00;
    color: #0e2130;
}
.navegador{
    background-color: #ff9a00;
}
.navegador li{
    list-style: none;
    padding: 5px;
}
.navegador ul{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegador a{
    text-decoration: none;
    color: #0e2130;
    text-shadow: 0 0 3px #ec0000;
    font-weight: bold;
}
.envios-gratis{
    padding: 5px;
    text-align: center;
    color: #ff9a00;
    text-shadow: 0 0 3px #ec0000;
    background-color: #0e2130; 
    font-weight: bold;
    font-style: italic;
}