@use 'variables';

*{
    overflow-x: hidden;
}

//VIDEOJUEGOS//
main{
    div .ps4promo{
        width: 100%;
    }
    h1{
        font-size: 25px;
        padding-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        color: variables.$main-color;
        text-shadow: 0 0 4px variables.$text-shadow;
        font-weight: bold;
        text-decoration: underline;
    }
    .row div .categorias{
        background-color: #ff9a00;
    }
    section .container-xl div article .productos{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container-xl div article{
        margin-top: 20px;
    }
    .productos .game-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productos .product-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .productos .precio{
        color: variables.$main-color;
        text-shadow: 0 0 4px variables.$text-shadow;
        font-weight: bold;
    }
    .productos h3{
        color: variables.$main-color;
        text-shadow: 0 0 4px variables.$text-shadow;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
}