@use 'variables';

main{
    div .ps4promo{
        width: 100%;
    }
    .row div .categorias{
        background-color: #ff9a00;
    }
    section .container-xl div article .productos{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container-xl div article{
        margin-top: 20px;
    }
    .productos .game-img{
        display: flex;
        align-items: center;
        justify-content: center;
        .game{
            width: 200px;
            height: 300px;
        }
    }
    .productos .precio{
        color: variables.$main-color;
        text-shadow: 0 0 4px variables.$text-shadow;
        font-weight: bold;
    }
    .productos h3{
        color: variables.$main-color;
        text-shadow: 0 0 4px variables.$text-shadow;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
}