//COLORS//
$backg-color:#0e2130;
$main-color: #ff9a00;
$text-shadow: #ec0000;

$product-textcolor: #0e2130;
$product-backgcolor: #ff9a00;

//MIXINS//

@mixin size ($ancho, $alto) {
    width: $ancho;
    height: $alto;    
}

.game{
    @include size (200px, 300px)
}
.product{
    @include size (250px, 250px)
}